body, html {
	font-family: 'Roboto';
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-size: 18px;
	background: #f0f1f2;
}

#main_body {
	display: flex;
	flex-direction: horizontal;
	justify-content: center;
}

#main_header {
	color: white;
	background: black;
	margin-bottom: 0.5em;
	padding: 1em;
	font-size: 1.75em;
	font-weight: bold;
	box-shadow: 0px 0.1em 0.2em black;
}

#compass {
	margin-right: 1em;
	box-shadow: 0.25em 0.25em 1em #111111;
	border-radius: 15px;
	border: 2px solid black;
}

#questions {
	margin-left: 1em;
}

#question_header {

}

.question {
	transition: background 0.3s;
	border: 1px solid black;
	box-shadow: 0.25em 0.25em 0.7em #222222;
	background: #dd6666;
	margin: 0.75em;
	padding: 0.25em;
	border-radius: 0.5em;
}

.question h3 {
	padding: 0.1em;
	margin: 0.5em;
}

.question_text {

}

.answer_button {

}

.answer_label {
	transition: background 0.2s;
	font-size: 1.2em;
	user-select: none;
	background: #ffffff;
	border-radius: 0.5em;
	border: 1px solid black;
	margin: 0.2em;
	padding: 0.2em;
	white-space: nowrap;
}
