html {
	font-family: 'Roboto';
	text-align: center;
	font-size: 18px;
	background: #f0f1f2;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0px;
	padding: 0px;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

#main_header {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1em;
	background: black;
	box-shadow: 0px 1px 3px #333333;
	font-weight: bold;
	z-index: 1;
}

#title {
	flex: 1 1 auto;
	font-size: 1.75em;
	color: white;
}

#github {
	flex: 0 1 auto;
	background: white;
	color: black;
	border-radius: 0.2em;
	padding: 0.2em;
	margin-right: 1em;
	text-decoration: none;
}

#github:link, #github:visited {
	color: inherit;
}

@keyframes shake {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(10deg); }
	50% { transform: rotate(0deg); }
	75% { transform: rotate(-10deg); }
	100% { transform: rotate(0deg); }
}

#github:hover {
	animation: shake 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#main_body {
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

#compass_container {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	align-self: center;
	height: 100%;
}

#compass {
	align-self: center;
	max-width: 100%;
	max-height: 100%;
}

#questions {
	max-width: 50vw;
	overflow: auto;
}

.question_form {
	display: flex;
	flex-direction: column;
	margin: 0em;
}

.question {
	display: flex;
	flex-direction: column;
	transition: background 0.3s;
	border: 2px solid black;
	border-radius: 0.25em;
	background: #e88;
	margin: 0.75em;
	padding: 0.25em;
}

.question h3 {
	padding: 0.1em;
	margin: 0.5em;
}

.answer_label {
	transition: background 0.3s;
	font-size: 1.2em;
	user-select: none;
	background: #ffffff;
	border: 1px solid black;
	border-radius: 0.25em;
	margin: 0.2em;
	padding: 0.1em;
}

.answer_button:checked+.answer_label{
	background: #bbbbff;
}

@media (orientation: portrait) {
	#main_header {
		padding: 0.25em;
	}

	#title {
		font-size: 1.5em;
	}

	#github {
		padding: 0.05em;
	}

	#main_body {
		flex-direction: column;
		margin: 0;
	}	

	#compass_container {
		flex-shrink: 1;
	}

	#compass {
		height: 95%;
		width: 95%;
	}
	
	#questions {
		flex-grow: 1;
		border-top: 2px solid black;
		max-width: 100%;
	}
}
